img {
  max-width: 100%;
  max-height: 100%;

  /* max-height: 40%; */
  margin: 0 !important;
  padding: 0 !important;
}

h3 {
  /* font-weight: lighter;
  font-size: 25px; */
}
h1 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 40px;
}
h1,
h3 {
  /* text-align: center; */
  /* font-size: 30px; */
}

.help-center__header > h3{
  font-size: 25px;
  font-weight: normal;
}

a {
  border: none;
  text-decoration: none;
  font-size: 20px;
}

.content__top {
  /* margin-left: 6rem; */
  margin: 6rem;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.content__top-details {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 3rem;
  line-height: 2rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.content__top-details > p {
  /* background: #000; */
  padding-top: .8rem;
  font-size: 17px;
  font-size: 18px;
  margin-bottom: .5rem;
}

.content__center {
  margin-left: 3rem;
  padding: 1rem;
}
.center__header {
  font-size: 30px;
}

.center__subheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /* padding: 4rem; */
  margin-right: 6rem;
  /* margin-left: 6rem; */
}
.center__subheader__heading {
  text-align: left;
  margin-left: 10rem;
  margin-top: 2rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 19px;
  font-weight: lighter;
}

.center__list {
  margin-left: 12rem;
  padding: 1.5rem;
}

li {
  padding: 0.8rem;
  font-size: 18px;
}

.content__bottom__content {
  font-size: 30px;
  padding: 2rem;
  line-height: 3.1rem;
}

.help-center__header {
  text-align: center;
}
